/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "../assets/fonts/Fira_Code/fira_code.css"; /* Garanta que este caminho está correto */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #ffffff;
	color: rgba(34, 1, 1, 0.856);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	padding-left: 1.5em;
	font-size: 1vw;
	quotes: none;
	color: #DCDCDC;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* Estilos Padrão para Desktop */
body {
	font: normal normal 400;
	font-size: 1.1vw; /* Cuidado com vw em desktop para textos, pode ficar muito grande em telas grandes. Considere rem ou clamp(). */
	font-family: 'Fira Code';
	margin-top: 1em;
	margin-left: 1em;
	max-width: 1400px; /* Limita a largura máxima do conteúdo no desktop */
	margin: 1em auto; /* Centraliza o conteúdo na tela */
}

p {
	position: relative;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 90%;
	text-align: justify;
}

code {
	font: normal normal;
	font-size: 90%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: right;
	right: 0%;
}

ul {
	position: relative;
	width: 90%;
	margin-bottom: 1.5em;
	text-align: justify;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	padding-left: 1.25em;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-family: 'Fira Code';
	width: 80%;
}

h1 {
	margin-top: 10px;
	font-weight: bold;
	font-size: 3vw; /* Considere um tamanho fixo ou clamp() para desktop */
	text-align: left;
	line-height: 1em;
	position: relative;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.1em;
	color: #50cacd;
	margin-top: 3em;
	margin-bottom: 0.8em;
	position: relative;
	text-align: left;
	width: 100%;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
}

a {
	color: inherit;
	text-decoration:none
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 25%;
	color: #bc412b;
	font-family: 'Fira Code';
	font-size: 100%;
}

#webaddress a {
	text-decoration: none;
}

em {
	font-weight: bold;
}

strong {
	color: #efa6a2;
	font-weight: bold;
}

#address {
	display: none;
}

.left > *:not(.header) {
	width: 88%;
	left: 1vw;
	font-size: 1vw;
}

.left .header > * {
	width: 100%;
	text-align: center;
}

.left h4 {
	font-weight: bold;
}

.left,.right {
	top: 0;
	bottom: 0;
	display: inline-block; /* Mantém o layout de duas colunas no desktop */
	overflow-x: hidden;
	vertical-align: top; /* Garante que as colunas se alinhem no topo */
}

.left {
	padding-top: 20px;
	bottom: 10px;
	left: 0;
	width: 30%; /* Largura para a coluna esquerda no desktop */
	font-size: 1.5vw;
}

p,h3,ul,.reach_me{
	left: 10px;
}

.right {
	padding-top: 20px;
	right: 0;
	width: 65%; /* Largura para a coluna direita no desktop */
	border-width: 2px;
	border-left-style: solid;
	margin: 0;
	margin-bottom: 20px;
	padding-left: 2%;
}

.lang img {
	display: inline;
	width: 3vw;
	margin: 4vw 0.5vw 0 0.5vw;
}

#photo {
	display: inline;
	border: 0.5vw;
	border-radius: 50%;	
	border-color: white;
	border-style: solid;
	width: 20vw;
}

.reach_me {
	margin: 2vh 0 2vh 0;
	position: relative;
	font-weight: bold;
}

.reach_me > * {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.reach_me i {
	font-size: 2.5vw;
	margin: 0 10px 0 0;
}

.reach_me a{
	text-decoration: none;
}

h2:before {
	content: "~ ";
	color: #80c990;
}

.right h1{
	color: #efa6a2;
	left: 0;
}

.right {
	top: 6vw;
}

/* Estilos para Tablets (de 769px a 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 2.5vw; /* Tamanho de fonte ajustado para tablet */
    margin: 1.5em;
    max-width: 100%; /* Remove limite de largura do desktop */
  }

  .left, .right {
    display: inline-block; /* Mantém as duas colunas */
    width: 48%; /* Ajusta as larguras para tablet */
    vertical-align: top;
    padding: 0.5em;
  }

  .right {
    border-left: 2px solid; /* Mantém a borda da coluna direita */
  }

  h1 {
    font-size: 4vw; /* Tamanho da fonte para h1 em tablet */
  }

  h2 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 3vw;
  }

  p, ul, li {
    font-size: 2.5vw;
    width: 95%; /*  Ajusta largura do texto em tablet */
  }

  .reach_me i {
    font-size: 4.5vw;
  }

  #photo {
    width: 25vw; /* Tamanho da foto para tablet */
  }

  .lang img {
    width: 5vw;
  }

  #webaddress {
    font-size: 2.5vw;
  }
}

/* Estilos para Celulares (largura máxima de 768px) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 4vw;
    margin: 1em;
    max-width: 100%; /* Remove limite de largura do desktop */
  }

  .left, .right {
    display: block; /* Layout de uma coluna para celular */
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }

  .right {
    padding-top: 1em;
    padding-left: 0;
    border-left: none;
  }

  h1 {
    font-size: 6vw;
    text-align: center;
  }

  h2 {
    font-size: 5vw;
    text-align: center;
  }

  h3 {
    font-size: 4vw;
    text-align: center;
    top: 0;
  }

  p, ul, li {
    font-size: 4vw;
    width: 100%;
  }

  .reach_me i {
    font-size: 6vw;
  }

  #photo {
    width: 40vw;
    display: block;
    margin: 0 auto;
  }

  .lang img {
    width: 8vw;
  }

  #webaddress {
    left: 0;
    text-align: center;
    font-size: 4vw;
  }
}