/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "../assets/fonts/Fira_Code/fira_code.css"; /* Garanta que este caminho está correto */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #ffffff;
	color: rgba(34, 1, 1, 0.856);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	padding-left: 1.5em;
	font-size: 1vw; /* Considere ajustar ou limitar com clamp() para desktop */
	quotes: none;
	color: #DCDCDC;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* Estilos Padrão para Desktop (base para todas as telas, mas primariamente para desktop) */
body {
	font: normal normal 400;
	font-size: 1rem; /* Alterado de vw para rem para tamanho de texto mais estável no desktop */
	font-family: 'Fira Code';
	max-width: 1400px; /* Limita a largura máxima do conteúdo no desktop */
	margin: 1em auto; /* Centraliza o conteúdo na tela */

    /* ADICIONADO: Propriedades Flexbox para o layout principal (se body for o contêiner de .left e .right) */
    display: flex;
    justify-content: space-between; /* Espaço entre as colunas */
    align-items: flex-start; /* Alinha as colunas no topo */
    flex-wrap: wrap; /* Permite que as colunas quebrem para a próxima linha em telas menores */
}

p {
	position: relative;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 90%;
	text-align: justify;
}

code {
	font: normal normal;
	font-size: 90%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: right;
	right: 0%;
}

ul {
	position: relative;
	width: 90%;
	margin-bottom: 1.5em;
	text-align: justify;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	padding-left: 1.25em;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-family: 'Fira Code';
	width: 80%;
}

h1 {
	margin-top: 10px;
	font-weight: bold;
	font-size: 2.5rem; /* Alterado de vw para rem para tamanho de título mais estável no desktop */
	text-align: left;
	line-height: 1em;
	position: relative;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.1em; /* Unidade em para ser relativa ao font-size do elemento pai */
	color: #50cacd;
	margin-top: 3em;
	margin-bottom: 0.8em;
	position: relative;
	text-align: left;
	width: 100%;
}

h3 {
	font-size: 1em; /* Unidade em */
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
}

a {
	color: inherit;
	text-decoration:none
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 25%;
	color: #bc412b;
	font-family: 'Fira Code';
	font-size: 100%; /* Pode ser ajustado com rem se necessário */
}

#webaddress a {
	text-decoration: none;
}

em {
	font-weight: bold;
}

strong {
	color: #efa6a2;
	font-weight: bold;
}

#address {
	display: none;
}

.left > *:not(.header) {
	width: 88%;
	left: 1vw; /* Considere um valor fixo ou em aqui também */
	font-size: 1vw; /* Considere um valor fixo ou em aqui também */
}

.left .header > * {
	width: 100%;
	text-align: center;
}

.left h4 {
	font-weight: bold;
}

.left,.right {
	box-sizing: border-box; /* Adicionado para incluir padding/border na largura total */
	/* REMOVIDO: top: 0; bottom: 0; display: inline-block; vertical-align: top; - pois agora o pai usa flexbox */
	overflow-x: hidden;
}

.left {
	padding-top: 20px;
	/* REMOVIDO: bottom: 10px; left: 0; */
	width: 30%; /* Largura para a coluna esquerda no desktop (flex-item) */
	font-size: 1.5vw; /* Considere um valor fixo ou em aqui também */
}

p,h3,ul,.reach_me{
	left: 10px;
}

.right {
	padding-top: 20px;
	/* REMOVIDO: right: 0; */
	width: 65%; /* Largura para a coluna direita no desktop (flex-item) */
	border-width: 2px;
	border-left-style: solid;
	margin: 0;
	margin-bottom: 20px;
	padding-left: 2%;
}

.lang img {
	display: inline;
	width: 3vw; /* Considere um valor fixo ou em aqui também */
	margin: 4vw 0.5vw 0 0.5vw; /* Considere um valor fixo ou em aqui também */
}

#photo {
	display: block; /* Alterado de inline para block para melhor controle e centralização */
	border: 0.5vw; /* Considere um valor fixo ou em aqui também */
	border-radius: 50%;	
	border-color: white;
	border-style: solid;
	width: 100%; /* Permite que a imagem se ajuste ao container */
    max-width: 250px; /* Limita o tamanho máximo da foto no desktop */
    margin: 0 auto; /* Centraliza a foto horizontalmente */
}

.reach_me {
	margin: 2vh 0 2vh 0;
	position: relative;
	font-weight: bold;
}

.reach_me > * {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.reach_me i {
	font-size: 2.5vw; /* Considere um valor fixo ou em aqui também */
	margin: 0 10px 0 0;
}

.reach_me a{
	text-decoration: none;
}

h2:before {
	content: "~ ";
	color: #80c990;
}

.right h1{
	color: #efa6a2;
	left: 0;
}

.right {
	top: 3em; /* Alterado de vw para em para posicionamento vertical mais estável no desktop */
}

/* Estilos para Tablets (de 769px a 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body { /* Se body for o contêiner das colunas */
    font-size: 2.5vw; /* Tamanho de fonte ajustado para tablet */
    margin: 1.5em;
    max-width: 100%; /* Remove limite de largura do desktop */
    /* MANTÉM: display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; */
  }

  .left, .right {
    /* REMOVIDO: display: inline-block; pois body já é flex */
    width: 48%; /* Ajusta as larguras para tablet (flex-item) */
    /* REMOVIDO: vertical-align: top; */
    padding: 0.5em;
  }

  .right {
    border-left: 2px solid; /* Mantém a borda da coluna direita */
  }

  h1 {
    font-size: 4vw; /* Tamanho da fonte para h1 em tablet */
  }

  h2 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 3vw;
  }

  p, ul, li {
    font-size: 2.5vw;
    width: 95%; /* Ajusta largura do texto em tablet */
  }

  .reach_me i {
    font-size: 4.5vw;
  }

  #photo {
    width: 100%; /* Ajusta a imagem ao container no tablet */
    max-width: 200px; /* Limite opcional para tablets */
  }

  .lang img {
    width: 5vw;
  }

  #webaddress {
    font-size: 2.5vw;
  }
}

/* Estilos para Celulares (largura máxima de 768px) */
@media only screen and (max-width: 768px) {
  body { /* Se body for o contêiner das colunas */
    font-size: 4vw;
    margin: 1em;
    max-width: 100%; /* Remove limite de largura do desktop */
    /* ADICIONADO: Flexbox para quebrar colunas em uma linha (flex-wrap: wrap; já no body) */
    flex-direction: column; /* Força as colunas a empilhar */
  }

  .left, .right {
    display: block; /* Garante que cada coluna ocupe 100% da largura */
    width: 100%; /* Ocupa a largura total disponível */
    padding: 0;
    margin: 0;
    border: none;
  }

  .right {
    padding-top: 1em;
    padding-left: 0;
    border-left: none;
  }

  h1 {
    font-size: 6vw;
    text-align: center;
  }

  h2 {
    font-size: 5vw;
    text-align: center;
  }

  h3 {
    font-size: 4vw;
    text-align: center;
    top: 0;
  }

  p, ul, li {
    font-size: 4vw;
    width: 100%;
  }

  .reach_me i {
    font-size: 6vw;
  }

  #photo {
    width: 100%; /* Ajusta a imagem ao container no celular */
    max-width: 250px; /* Limite opcional para celulares */
    display: block;
    margin: 0 auto;
  }

  .lang img {
    width: 8vw;
  }

  #webaddress {
    left: 0;
    text-align: center;
    font-size: 4vw;
  }
}